@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

body{
    margin:0;
    
}

.header-bg{
    /*display: flex;*/
    /*position: relative;*/
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: url('./img/gallows.jpg') no-repeat;
    background-size: cover;
    background-position-y: -10px;
    filter: sepia(10%) opacity(80%) blur(4px);
    min-height: 500px;
    padding:0;
}
header h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Schoolbell',cursive;
    display: inline-block;
    font-size: 140px;
    margin:0;
    text-shadow: 5px 5px 5px #ddd;
    text-align: center;
    color: #333;
}
.tilt{
    /*tilt man a little*/
    display:inline-block;
    transform:translateY(50px) rotate(30deg) ;
    transition: transform .5s ease-in 1s;
}



.container{
    display: grid;
    /*border: 5px solid #ddd;*/
    margin:5px auto;
    /*max-width:1000px;*/
    padding:10px;
    align-items: center;
    justify-content: center;
    
    background: url('img/vintage.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 2px 4px 8px #fff, inset -2px -2px 8px #fff;
    border-radius: 8px;
    /*clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 95% 0% );/*cham top right*/
    opacity: 90%;
}

.game-container{
    background: rgba(255,255,255,0.7);
    display: grid;
    max-width: 1000px;
    
    grid-template-columns: repeat(2,1fr) 300px;
    grid-template-rows: repeat(2,1fr);

    box-shadow: 2px 2px 8px #111;

    /*border: 2px dotted black;/*temporary*/
}

.game-container h2{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-align: center;
    
}

.letter-box{
    margin:5px 5px;
    /*border: 2px dotted black;/*temporary*/
    grid-column: 1/3;
    grid-row: 2/3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letters{
    /*border: 5px solid #ccc;*/
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    
    
    /*grid-template-columns: repeat(9,1fr);*/
    max-width: 410px;
    border-radius: 7px;
    background: #ccc;
    padding:5px;
    box-shadow: 1px 1px 5px #333;
    
}

.letter{
    background:rgb(40,70,220);
    color: #fff;
    text-align: center;
    width:25px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: inset -2px -2px 4px rgb(0,0,100), inset 2px 2px 4px rgb(100, 100, 240);
    text-shadow: -1px -2px 2px #222;
}

.letter:hover{
    cursor: default;
}

.letter-pressed{
    box-shadow: inset 1px 2px 1px rgb(0,0,100), inset -1px -2px 2px #eee;
    /*background: green;*/
    background: rgb(139, 226, 136);
    text-shadow: -1px -1px 1px rgb(0,0,100);
    
}

.letter-wrong{
    box-shadow: inset 1px 2px 1px rgb(100,0,0), inset -1px -2px 2px #eee;
    background:red;
}





.gameboard-box{
    grid-column: 1/3;

    justify-content: center;
    align-content: center;
    justify-items: center;

    

    display: grid;/*will place hang man above*/

    /*border: 2px dotted black;/*temporary*/

    max-width: 1200px;
    
}
.gameboard-sentence{
    /*how to organize each word*/
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;

}
.gameboard-word{
    /*organize each letter in the word*/
    display: inline;

}
.gameboard-letter{
    border-bottom: 3px solid black;
    width: 25px;
    text-align: center;
    float: left;
    margin:2px;
    
}
.gameboard-letter-unknown{
    color: rgba(0,0,0,0);/*invisible text*/
}

.gameboard-nonletter{
    width: 15px;
    text-align: center;
    float: left;
    margin: 2px;
}




.game-controls{
    grid-column: 3/4;
    grid-row: 2/3;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    display:flex;
    flex-direction: column;

    /*border: 2px dotted black;/*temporary*/
    background: #aaa;

    margin:0;

}

ul#game-controls{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-direction: column;
    
    padding:10px;
    background: #555;

    margin:0;
}

.game-controls h3{
    

    font-family: 'Geo', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    
}

.game-control{
    min-width: 200px;
    background: #aaa;
    padding: 5px;
    margin: 5px;
    text-align: center;

    font-family: 'Geo', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: pre-wrap;
    
}




.output-box{
    overflow: hidden;
    background-color: rgba(0,0,0,.3);
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    
    /*object-fit: cover;*/
    
    max-width: 100%;
    max-height: 270px;
    /*width: 100%;*/
    height: auto;
    
    /*height:100%;
    width:100%;/**/
    opacity: .85;

}



footer{
    margin:20px 10px;
    background:#222;
}


@media(max-width:1200px){
    .header-bg{
        background-size: auto;
    }
    header h1{
        padding-top:50px;
        transform: translate(-50%,-100px);
        font-size: 60px;
    }
}

@media(max-width:700px){
    .game-container{
        display:flex;
        flex-direction: column;
        
    }
    .gameboard-box{
        order: 1;
    }
    .letter-box{
        order: 2;
    }
}

@media(max-width:500px){
    header h1{
        font-size: 50px;
        
    }
}

@media(max-width:350px){
    header h1{
        font-size: 40px;
    }
}